@model IEnumerable<MVC.NetCore5.Web.Data.ViewModels.BookViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Book List</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Book" asp-action="Create" class="btn btn-success">
                Create New Book
            </a>
        </div>
    </div>
    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">ISBN#</th>
                    <th scope="col">Book Name</th>
                    <th></th>
                 </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@item.ISBN</th>
                    <td width="50%">
                        @item.Name
                        @*<p style="font-size: 14px; color: #bdc3c7; font-style:italic; text-transform:capitalize;"></p>*@
                        <p style="font-size: 12px; color: #bdc3c7; font-style:italic;">year: @item.Year<br />author: @item.Author</p>
                    </td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Book" asp-route-Id="@item.Id" asp-action="Edit" class="btn btn-info mx-2">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-controller="Book" asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row p-3">
            <p>No books exists.</p>
        </div>

    }

</div>